<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @playlist.url %>
</p>

<p>
  <strong>Time of Day:</strong>
  <%= @playlist.timeOfDay %>
</p>

<p>
  <strong>Type Of Weather:</strong>
  <%= @playlist.typeOfWeather %>
</p>
